<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.fanwe.o2o.miguo"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          android:installLocation="auto"
          android:versionCode="2016071601"
          android:versionName="5.5.0">

    <uses-sdk
        android:minSdkVersion="12"
        android:targetSdkVersion="19"/>

    <permission
        android:name="com.fanwe.o2o.miguo.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature"/>

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <!--<uses-permission android:name="android.permission.READ_PHONE_STATE"/>-->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <!-- QQ、QQ空间需要的权限 -->
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <!-- 震动权限 -->
    <uses-feature android:name="android.hardware.camera"/>
    <!-- 使用照相机权限 -->
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <!-- 自动聚焦权限 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <!-- Required  一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="com.fanwe.o2o.miguo.permission.JPUSH_MESSAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
        android:name="com.fanwe.app.App"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/FanweTheme"
        tools:replace="icon, label,theme">
        <activity android:name="com.miguo.live.views.LiveTestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.fanwe.InitAdvsMultiActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Splash页面后的引导页面 ,不要删除这段注释内容,以备后需 -->
        <!--
        <activity
            android:name="com.fanwe.GuideActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name ="android.intent.category.DEFAULT" />
                <category android:name ="android.intent.category.BROWSABLE" />
                <data android:scheme = "miguoxiaozhan" />
            </intent-filter>
        </activity>
        -->


        <!-- 主界面 -->
        <activity
            android:name="com.fanwe.MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="miguoxiaozhan"/>
            </intent-filter>
        </activity>
        <!-- 商品管理 -->
        <activity
            android:name="com.fanwe.DistributionCommodityManagementActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- Map上的附近搜索(新) -->
        <activity
            android:name="com.fanwe.MapSearchActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>

        <!-- 注册界面 -->
        <activity
            android:name="com.fanwe.RegisterActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 注册协议界面 -->
        <activity
            android:name="com.fanwe.RegisterAgreementActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 附近的会员界面 -->
        <activity
            android:name="com.fanwe.NearbyVipActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 我的更多 -->
        <activity
            android:name="com.fanwe.MoreSecondActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 我的二维码 -->
        <activity
            android:name="com.fanwe.DistributionMyQRCodeActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 酒店城市定位 -->
        <activity
            android:name="com.fanwe.HoltelSearchCityActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 商城 -->
        <activity
            android:name="com.fanwe.GoodsListActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name="com.fanwe.HoltelListActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 积分商城 -->
        <activity
            android:name="com.fanwe.ScoresListActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 登录界面new -->
        <activity
            android:name="com.fanwe.LoginActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 活动 -->
        <activity
            android:name="com.fanwe.EventListActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 我的活动 -->
        <activity
            android:name="com.fanwe.MyEventListActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>

        <!-- 活动详情 -->
        <activity
            android:name="com.fanwe.EventDetailActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 商家 -->
        <activity
            android:name="com.fanwe.StoreListActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 商圈分类界面 -->
        <activity
            android:name="com.fanwe.QuanListActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 优惠列表 -->
        <activity
            android:name="com.fanwe.YouHuiListActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 团购界面 -->
        <activity
            android:name="com.fanwe.TuanListActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 日期选择界面 -->
        <activity
            android:name="com.fanwe.CalendarListActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>

        <!-- 酒店搜索列表 -->
        <activity
            android:name="com.fanwe.SearchListActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 酒店列表 -->
        <activity
            android:name="com.fanwe.HoltelSearchListActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 团购详情界面 -->
        <activity
            android:name="com.fanwe.TuanDetailActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- webview详情界面 -->
        <activity
            android:name="com.fanwe.AppWebViewActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:hardwareAccelerated="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 评论列表 -->
        <activity
            android:name="com.fanwe.CommentListActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 购物车界面 -->
        <activity
            android:name="com.fanwe.ShopCartActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 确认订单新界面 -->
        <activity
            android:name="com.fanwe.ConfirmOrderActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 扫一扫跳转界面 -->
        <activity
            android:name="com.fanwe.CaptureResultWebActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 门店打折支付界面 -->
        <activity
            android:name="com.fanwe.StoreConfirmOrderActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 订单支付界面 -->
        <activity
            android:name="com.fanwe.PayActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 我的小米 -->
        <activity
            android:name="com.fanwe.DistributionMyXiaoMiActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 选择配送地址界面 -->
        <activity
            android:name="com.fanwe.DeliveryAddressSelectActivty"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 管理配送地址界面 -->
        <activity
            android:name="com.fanwe.DeliveryAddressManageActivty"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 添加配送地址界面 -->
        <activity
            android:name="com.fanwe.AddDeliveryAddressActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 修改密码界面 -->
        <activity
            android:name="com.fanwe.ModifyPasswordActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 我的订单界面 -->
        <activity
            android:name="com.fanwe.MyOrderListActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 我的团购券界面 -->
        <activity
            android:name="com.fanwe.MyCouponListActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 我的优惠券界面 -->
        <activity
            android:name="com.fanwe.MyYouhuiListActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>

        <!-- 会员升级界面 -->
        <activity
            android:name="com.fanwe.ConfirmTopUpActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 收藏界面 -->
        <activity
            android:name="com.fanwe.MyCollectionActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 商场 -->
        <activity
            android:name="com.fanwe.ShoppingMallActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 消息提醒界面 -->
        <!-- 订单详情界面 -->
        <activity
            android:name="com.fanwe.OrderDetailActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>

        <!-- 团购卷详情界面 -->
        <activity
            android:name="com.fanwe.MyCouponDetailActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 公告列表界面 -->
        <activity
            android:name="com.fanwe.NoticeListActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>

        <!-- 城市列表界面 -->
        <activity
            android:name="com.fanwe.CityListActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 隐藏键盘 -->
        <!-- 全屏 -->
        <activity
            android:name="com.fanwe.MyCaptureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>

        <!-- 商家列表界面（可以自主下单的商家列表） -->
        <activity
            android:name="com.fanwe.MerchantListOrderActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>

        <!-- 商品发表评论界面 -->
        <activity
            android:name="com.fanwe.AddCommentActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>

        <!-- 门店详情界面 -->
        <activity
            android:name="com.fanwe.StoreDetailActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 首页搜索界面 -->
        <activity
            android:name="com.fanwe.HomeSearchActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 优惠详情界面 -->
        <activity
            android:name="com.fanwe.YouHuiDetailActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 公告内容 -->
        <activity
            android:name="com.fanwe.NoticeDetailActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name="com.fanwe.RouteInformationActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>

        <!-- 相册activity -->
        <activity
            android:name="com.fanwe.AlbumActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 线路详情 -->
        <activity
            android:name="com.fanwe.RouteDetailActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 商家地图 -->
        <activity
            android:name="com.fanwe.StoreLocationActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 相册 -->
        <activity
            android:name="com.fanwe.LocalImageActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 我的抽奖 -->
        <activity
            android:name="com.fanwe.MyLotteryActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 我的点评 -->
        <activity
            android:name="com.fanwe.MyCommentActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 商品申请退款 -->
        <activity
            android:name="com.fanwe.RefundGoodsActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 团购申请退款 -->
        <activity
            android:name="com.fanwe.RefundTuanActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 商品没收到货 -->
        <activity
            android:name="com.fanwe.RefuseDeliveryActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 会员资料更新 -->
        <activity
            android:name="com.fanwe.MyAccountActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 头像上传 -->
        <activity
            android:name="com.fanwe.UploadUserHeadActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 分销管理 -->
        <!--
        <activity
            android:name="com.fanwe.DistributionManageActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        -->
        <!-- 分销会员等级 -->
        <activity
            android:name="com.fanwe.MemberRankActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 分销提现日志 -->
        <activity
            android:name="com.fanwe.DistributionWithdrawLogActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 分销会员俱乐部 -->
        <activity
            android:name="com.fanwe.MemberRankDetailActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 查看分销推荐人 -->
        <activity
            android:name="com.fanwe.CheckDistributionRecommendActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 分销小店 -->
        <activity
            android:name="com.fanwe.DistributionStoreWapActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 分销小店 -->
        <activity
            android:name="com.fanwe.DistributionStoreActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 分销店铺 -->
        <activity
            android:name="com.fanwe.DistributionStoreInActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 提现 -->
        <activity
            android:name="com.fanwe.DistributionWithdrawActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 红包 -->
        <activity
            android:name="com.fanwe.MyRedPaymentActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 更多 -->
        <activity
            android:name="com.fanwe.MoreActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 发表动态 -->
        <activity
            android:name="com.fanwe.AddDynamicActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait">

            <!-- android:windowSoftInputMode="adjustResize" -->
        </activity>

        <!-- 我的红包 -->
        <activity
            android:name="com.fanwe.MyRedEnvelopeActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 账户余额 -->
        <activity
            android:name="com.fanwe.AccountMoneyActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 提现 -->
        <activity
            android:name="com.fanwe.WithdrawActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 绑定银行卡 -->
        <activity
            android:name="com.fanwe.BindBankCardActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 提现明细(日志) -->
        <activity
            android:name="com.fanwe.WithdrawLogActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 余额提现明细(日志) -->
        <activity
            android:name="com.fanwe.UserWithdrawLogActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 提现详情 -->
        <activity
            android:name="com.fanwe.WithdrawDetailActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 我的小米的详情页面 -->
        <activity
            android:name="com.fanwe.MyXiaomiDetailActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 绑定手机号 -->
        <activity
            android:name="com.fanwe.BindMobileActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 手机号注册界面 -->
        <activity
            android:name="com.fanwe.RegisterMobileActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 我的红包详细信息 -->
        <activity
            android:name="com.fanwe.MyRedEnvelopDetailActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Translucent"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 市场模块的城市选择,非全局 -->
        <activity
            android:name="com.fanwe.MarketCityListActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 团购最佳组合对话框 -->
        <activity
            android:name="com.fanwe.MyTuanDetailDialog"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Translucent"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 域名变更界面 -->
        <activity
            android:name="com.fanwe.test.InputSiteActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 设置密码 -->
        <activity
            android:name="com.fanwe.SetPwActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 银联支付界面 -->
        <activity android:name="com.unionpay.uppay.PayActivity"/>
        <!-- 支付宝H5界面 -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>
        <!-- 活动消息界面 -->
        <activity
            android:name="com.fanwe.MessageActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>

        <!-- 代言小店h5 -->
        <activity
            android:name="com.fanwe.DaiYanStoreWapActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>

        <!-- 申请退款new -->
        <activity
            android:name="com.fanwe.RefundApplicationActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
        </activity>

        <!-- 待消费订单new -->
        <activity
            android:name="com.fanwe.OrderWait2UseActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>

        <!-- 升级服务 -->
        <service android:name="com.fanwe.service.AppUpgradeService">
        </service>

        <!-- 监听手机网络变化 -->
        <receiver android:name="com.ta.util.netstate.TANetworkStateReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <action android:name="ta.android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

        <!-- 百度地图 start -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="@string/baidu_key"/>
        <!-- 百度定位Service -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
        </service>
        <!-- 百度地图 end -->


        <!-- 友盟start -->
        <!-- 友盟AppKey， 需要替换成你自己的 -->
        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.UMDefault"/>
        <!-- 正式版用正式的key -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="@string/test_umeng_key">
        </meta-data>
        <!-- 友盟统计分析-渠道 -->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="HuaWei"/>

        <!-- 微博 -->


        <!-- Share edit page -->
        <activity
            android:name=".WBShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <!-- 登录回调 -->


        <!-- 友盟分享start -->
        <!-- 分享内容编辑页 -->
        <activity
            android:name="com.umeng.socialize.view.ShareActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/Theme.UMDialog"
            android:windowSoftInputMode="stateVisible|adjustResize">
        </activity>

        <!-- 微信回调activity -->
        <activity
            android:name=".WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <!-- QQ登录start -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <!-- <data android:scheme="tencent222222" /> -->
                <data android:scheme="tencent1105496065"/>

                <!-- 100380359 100381104 222222 -->
                <!-- <data android:scheme="tencent1101169715" /> -->
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name="com.fanwe.MyMessageActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>

        <!-- <<<<<<JPush极光推送Start >>>>>>>> -->
        <!-- Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:exported="false"
            android:theme="@style/MyDialogStyle">
        </activity>
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="com.fanwe.o2o.miguo"/>
            </intent-filter>
        </activity>
        <!-- Required  SDK核心功能 -->
        <service
            android:name="com.sina.weibo.sdk.net.DownloadService"
            android:exported="false">
        </service>
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false">
        </service>

        <!-- Required SDK 核心功能 -->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER"/>
                <action android:name="cn.jpush.android.intent.REPORT"/>
                <action android:name="cn.jpush.android.intent.PushService"/>
                <action android:name="cn.jpush.android.intent.PUSH_TIME"/>
            </intent-filter>
        </service>

        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService"/>

                <category android:name="com.fanwe.o2o.miguo"/>
            </intent-filter>
        </service>

        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY"/>
                <!-- Required  显示通知栏 -->
                <category android:name="com.fanwe.o2o.miguo"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>

                <data android:scheme="package"/>
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false"/>

        <!-- 用户自定义的广播接收器 -->
        <receiver
            android:name="com.fanwe.service.HomeEventDetailReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION"/>
                <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.UNREGISTRATION"/>
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED"/>
                <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED"/>
                <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED"/>
                <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK"/>
                <!-- Optional 用户接受Rich Push Javascript 回调函数的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION"/>
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.fanwe.o2o.miguo"/>
            </intent-filter>
        </receiver>

        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default"/>
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="@string/jpush_appkey"/>
        <!-- </>值来自开发者平台取得的AppKey -->

        <activity android:name="com.fanwe.live.LiveTestActivity">
        </activity>

        <activity android:name="com.miguo.live.views.LiveActivity"></activity><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>